*{
    margin: 0;
    padding: 0;
    /* font-family:  sans-serif; */
}
@font-face {
    font-family: "Osawald";
    src: url(./Fonts/Oswald-Medium.ttf);
}
.nav{
    height: 150px;
    padding: 30px 0;
}
.loc-icn , .call-icn , .envelope-icn{
    font-size: 40px;
    color: #ff5e15;
}
.address , .toll-free , .email{
    font-size: 16px;
    color: #808080;
}
.mt-10{
    margin-top: 10px;
}
.ml-20{
    margin-left: 20px;
}
.f-16{
    font-size: 16px;
}
.f-24{
    font-size: 24px;
}
.pl-30{
    padding-left: 30px;
}
.pl-16{
    padding-left: 16px;
}
.text-grey{
    color: #808080;
    font-size: 15px;
}
.banner-details , .banner-details-2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-details p , .banner-details-2 p{
    font-size: 48px;
    color: white;
    
}
.banner-details p span{
    font-weight: bold;
}
.mt70{
    margin-top: 70px;
}
.details h6:first-child{
    font-size: 20px;
    color: #ff5e15;
}
.details h6:nth-child(2){
    font-size: 32px;
}
.details h6:nth-child(3){
    font-size: 32px;
}
.imgs::before{
    content: "";
    display: block;
    border-top: 60px solid #ff5e15;
    border-right: 60px solid transparent;
    border-bottom: 60px solid transparent;
    position: absolute;
    /* transform: rotate(45deg); */
    z-index: -1;
    top: 10px;
    left: 2px;
}
.imgs{
    /* position: relative; */
}
.why-choose-us{
    /* height: 800px; */
    background-color: #09162A;
    padding-bottom: 100px;
}
.choose-us-txt{
    font-size: 18px;
    color: #808080;
}
.login-details{
    /* height: 634px; */
    background-color: black;
}
::placeholder{
    color: white;
    font-size: 16px;
}
.bg-color{
    background-color: #09162A;
    height: 693px;
}
.bg-skyblue{
    background-color: #f8f9fa;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-1 , .service-2 , .service-3 , .service-4 , .service-5 , .service-6{
    background-color: rgba(0, 0, 0, 0.484);
    color: #ff5e15;
    height: 100%;
    width: 100%;
    top: 0;
    position: relative;
    display: flex;
    overflow: hidden;
    margin-right: 24px;
    object-fit: cover;
    transition: 1s;
}
.img-1 , .img-2 , .img-3 , .img-4 , .img-5 , .img-6{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: .3s all ease;
}
.service-1 > div , .service-2 > div , .service-3 > div , .service-4 > div , .service-5 > div , .service-6 > div{
    width:  100%;
    height: 588px;
    display: flex;
    position: relative;
    font-size: 24px;
    box-sizing: border-box;
}
.content-1 , .content-2 , .content-3 , .content-4 , .content-5 , .content-6{
    top: 500px;
    position: absolute;
    z-index: 9;
    left: 20px;
    transition: .2s all ease;
    transform: translateY(100%);
    opacity: 1;
    text-align: start;
}
.btn{
    padding: 8px 0px;
    background-color: black;
    color: white;
    height: 48px;
    width: 100px;
}
.in-btn{
    height: 48px;
    width: 422px;
    /* padding: 10px 20px; */
    background-color: transparent;
    border: 2px solid white;
    outline: none;

}
.underline{
    text-decoration: underline;
    color: #ff5e15;
    transform: sc;
    
}
.blog-1 , .blog-2 , .blog-3{
    height: 233px;
    width: 350px;
    transition: 2s;
    overflow: hidden;
}
.blog-1-img , .blog-2-img , .blog-3-img{
    height: 100%;
    width: 100%;
    transition: 1s all ease;
    object-fit: cover;
}
.blog-1:hover .blog-1-img , .blog-2:hover .blog-2-img , .blog-3:hover .blog-3-img{
    transform: scale(1.1);
}
.get-top{
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-color: #ff5e15;
    color: black;
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    font-weight: bolder;
    z-index: 1;
}
 
